@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    color:white;
    font:'IBM Plex Sans', sans-serif;
    line-height: 1.2em;
}
#main-footer{
    text-align: center;
}

.clr{
    clear:both;
}
#te{
    color:red;
    background-color: violet;
}

body{
    background-color: #2c2f33;

}
a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: medium;
    font-weight: normal;
    color:#7289da;
    text-decoration: none;
}
a:hover{
    color:red;
    font-style: italic;
}
a:active{
    color: green;
}
a:visited{
    color:#7289da;
}
/*these 2 font styles do the same thing */
p{
    color:white;
    font: normal medium 'IBM Plex Sans', sans-serif;
    line-height: 1.2em;
}
.box-1{
    background-color: teal;
    margin:auto;
    border-right:5px red solid;
    border-right-width:  10px;
    padding-top: 20px;
    overflow: hidden;
} 
.container{
    min-width:20%;
    margin-left:;
    margin-top: 20px;
}
.box-1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}
.box-2{
    border:3px dotted lightgray;
    padding:20px;
    margin:20px 0;
    overflow: hidden;
}
.menu{
    border:1px lightgray solid;
    padding:10px;
    text-align: left;
    width: 100px;
    float:left;
    margin:20px;
}
.menu h2{
    text-align: center;
}
.menu ul{
    padding:o;
    list-style: none;
}
.menu li{
    padding-bottom: 6px ;
    border-bottom: dotted 1px #7289da;
}
  .myform{
     padding:20px;
      border: 2px #7289da solid ;
      width: 250px;
    float:left;
  }
  .myform input[type="text"], .myform input[type="email"], .myform textarea{
      width:100%;
      color:black;
      border-radius: 5px;
  }
  .myform select{
      color:black;
  }
  .myform input[type="number"]{
    color:black;
    width:50px;
}
.myform input[type="date"]{
    color:black;
}
.myform label{
   display:block; 
}
.optioncolor{
    color:black;
}

.submit1, .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.block{
  float: left;
    width:33.3%;
    border: 1px solid turquoise;
    padding:10px;
    margin-top: 10px;
    box-sizing: border-box;
}
.goals{
      float:left;
      border: 2px solid #7289da;
      border-radius: 5px;
      padding-left: 20px;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 50%;
  max-width: 30%;
  height: 50%;
  }
  .icons{
      margin-top:10px;
      margin-left:10%;
      float:left;
  }
  .icons2{
    margin-top:10px;
    float:left;
    margin-left:10%;
}
.greet{
    margin-left:20px;
}
#sidebar{
  float: right;
  margin: 2px;
  margin-top: 10px;
  border: 1px solid royalblue;
  width: 150px;
}
#sidebar p{
  padding:5px;
}
#sidebar h3{
  text-align: center;
}
#goalsbar{
  float: left;
  margin: 2px;
  margin-left:20px;
  margin-top: 20px;
  border: 1px solid royalblue;
  width: 150px;
}
#goalsbar p{
  padding:5px;
}
#goalsbar h3{
  text-align: center;
}
#goalsbar ul{
  padding-left:  20px;
}
#goalsbar li{
  padding:5px;
}
.block3{
  padding-top: 10px;
}